<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 加载数据库配置文件 -->
    <context:property-placeholder location="classpath*:db.properties"/>

    <!-- confie the datasourse -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>

    </bean>

    <!--配置sqlsession factory -->
    <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--加载mybatis的配置文件-->
        <property name="configLocation" value="classpath:mybatis/MybatisConfig.xml"/>

        <!-- 配置数据源 -->
        <property name="dataSource" ref="dataSource"/>



    </bean>

    <!--配置mapper scanner -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">

        <!-- 配置扫描的包 -->
        <property name="basePackage" value="cn.com.taiji.mapper"/>

        <!-- 配置sqlsession 工程-->
        <property name="sqlSessionFactoryBeanName" value="sessionFactory"/>
    </bean>
</beans>